database:
  path: "your_database_file_path"

twitch:
  username: "your_twitch_username"
  channel: "your_twitch_channel_name"
  client_id: "your_app_client_id"
  client_secret: "you_app_client_secret"

oauth:
  token_file_path: "your_token_file_path" # (ex: "data/token.json")
