database:
  path: "your_database_file_path"

phrasebook:
  path: "your_phrasebook_file_path"
  required_entries:
    - hi.greeting
    - hi.streamer_greeting
    - daily.internal_error
    - daily.already_claimed
    - daily.success
    - bet.internal_error
    - bet.invalid_amount_missing_args
    - bet.invalid_amount_not_integer
    - bet.invalid_amount_less_than_zero
    - bet.insufficient_funds
    - bet.daily_limit_reached
    - bet.win
    - bet.lose
    - grant.internal_error
    - grant.permission_denied
    - grant.missing_args
    - grant.invalid_amount_not_integer
    - grant.invalid_amount_less_than_zero
    - grant.target_user_not_found
    - grant.success

twitch_bot:
  username: "your_twitch_username"
  channel: "your_twitch_channel_name"
  client_id: "your_app_client_id"
  client_secret: "you_app_client_secret"

oauth:
  token_file_path: "your_token_file_path"

jija_bot:
  daily:
    jija_coin_amount: 10
    reset_hour_utc: 12
  bet:
    base_probability: 0.45
    payout_multiple: 2.0
    daily_limit: 5
    reset_hour_utc: 12
